
@import models.Productt
@(list: List[Productt])
@main("OrderEnterForm"){

<head>
    <title> Place Order </title>

</head>

<body>


<div class="container">
    <label class="label is-large has-text-grey has-text-centered"> Add Items by clicking the checkBox and proceed to create orders after selecting Product Items </label>
    <form method="post" action="/enterOrderFromFrom" target="_blank">

        <div class="field is-horizontal">
            <div class="field-label is-medium">
                <label class="label">UserId</label>
            </div>
            <div class="field-body">
                <div class="control is-medium">
                    <input class="input is-rounded is-info" type="number" name="userId" placeholder="e.g 123" required>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-medium">
                <label class="label">UserAddressId</label>
            </div>
            <div class="field-body">
                <div class="control is-medium">
                    <input class="input is-rounded is-info" type="number" name="userAddressId" placeholder="e.g 123" required>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-medium">
                <label class="label">Payment Instrument [CreditCard / NetBanking]</label>
            </div>
            <div class="field-body">
                <div class="control is-medium">
                    <input class="input is-rounded is-info" type="text" name="paymentInstrument" placeholder="e.g 123" required>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-medium">
                <label class="label">Choose Products</label>
            </div>
            <div class="field-body is-large">
                <div class="control is-medium">
                    <table >
                        <thead class="has-background-grey-lighter">

                        <td>Product Ids</td>
                        <td>Product Name</td>
                        <td>Seller </td>
                        <td>Price</td>
                        <td>Select Check Box to add Product to cart</td>

                        </thead>
                        <tbody>
                        @for(product <- list){
                        <tr>
                            <td>@product.productId.productId</td>
                            <td>@product.productName</td>
                            <td>@product.sellerId</td>
                            <td>Rs.@product.price</td>
                            <td><input type="checkbox" name="productIds[]" value=@product.productId.productId></td>
                        </tr>
                        }
                        </tbody>
                    </table>



                </div>
            </div>
        </div>


        <div class = "field">
            <div class="field-label is-medium">
                <label class="label"></label>
            </div>
            <input class="button is-info is-rounded is-primary" type="submit" value="SUBMIT">
        </div>


    </form>

</div>

</body>
}