@(username: String)

@main("login") {
<h2>Hello User - @username! </h2>
<h2> You have succesfully Logged In  :-) </h2>
<a href = "/viewAllOrders"><button type="button">View all Orders</button> </a>
<br>
<br>
<a href = "/createOrder"><button type="button">Create an order</button> </a>
}
