@()

@main("login") {
<h2>Enter Username and password to login</h2>

<form method="post" action = "validate">
    Username: <input type = "text" name = "username"> </input>
    <br>
    Password: <input type = "password" name = "password"> </input>
    <br>
    <input type = "submit"></input>
</form>
}
