@main("order  placed") {
<h2>Your order has been placed successfully :-) </h2>
<h2> Go view all orders or create a new order </h2>
<a href = "/viewAllOrders"><button type="button">View all Orders</button> </a>
<br>
<br>
<a href = "/createOrder"><button type="button">Create an order</button> </a>
}
